<!DOCTYPE html>

<html>

<head>
    <title>Login page</title>
    {% block scripts %}
        <script src="{{ asset('js/login.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/login_page.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% endblock %}
</head>

    <body>

        <div id="loginFormContainer">

            <h2> - Login - </h2>

            <div id="form">

                <div class="inputWrapper">
                    <div class="imageWrapper"><img src="assets/icons/account.svg" /></div>
                    <input type="text" name="email" id="emailInput" placeholder="Email" class="input" required/>
                </div>

                <div class="inputWrapper">
                    <div class="imageWrapper"><img src="assets/icons/lock.svg" /></div>
                    <input type="password" name="password" id="passwordInput" placeholder="Password" class="input" required/>
                </div>

                <p id="errorMessage"></p>

                <div class="submitWrapper">
                    <button id="submitButton" onclick="checkLoginData()">Login</button>
                </div>

            </div>

        </div>
    </body>

</html>