<!DOCTYPE html>

<html>

    <head>
        <title>Test</title>
    </head>

    <body>
        <h1>Test Quiz</h1>
        <ul>
            {% for question in questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>

        <br/>

        <a href="/check/test">Check result of the test</a>
    </body>

</html>