{% extends 'base.html.twig' %}

<!-- Include stylesheets -->
 {% block stylesheets %}
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <link href="{{ asset('css/test_passed.css') }}" rel="stylesheet" />
 {% endblock %}

<!-- Set template body -->
{% block body %}

    <h1>You failed the test</h1>

{% endblock %}