<!DOCTYPE html>

<html>

    <head>
        <title>Test</title>

        {% block scripts %}
            <script src="{{ asset('js/test.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="{{ asset('css/test_passed.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>

        <h1> {{ message }} </h1>

        <div id="emailContainer">
            <span>Email: </span>
            <input id="emailInput" type="text" />
            <button onclick="sendEmail()">Send email</button>
        </div>


        <br/>
        <p id="returnMessage"></p>

    </body>

</html>

